  #menu {
    background-color: #ffffff;
    width: auto;
    height: auto;
    text-align: left;
    padding: 20px;
    display: flexbox;
    /* border : black solid 3px; */
    flex-wrap: wrap;
    
  }

  #list {
    background-color: #ffffff;
    width: 300px;
    text-align: left;
    padding: 20px;
    display: flex;
    border : black solid 3px;
    flex-wrap: wrap;
  }
  
  button {
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    border: black solid 3px;
    color: #fff;
    cursor: pointer;
  }
  
  p {
    display: flex;
    justify-content: center;
    text-align: center;
    align-content: center;
    line-height: 35px;
  }

  #choice {
    display: inline-flex;
    
  }

  #ruleOfGame {
    border : black solid 3px;
    display: flex;
    text-align: right;
    justify-content: center;
    
    
  }